/* Calculates the width based on the given amount of columns*/
@function column-width($columns, $grid-width, $grid-gutter, $grid-columns) {
    $calculated-gutter-with:  $grid-gutter * ($columns - 1);

    $calculated-column-width: ($grid-columns - ( $grid-gutter * ($grid-columns - 1))) / $grid-columns;
    $calculated-column-width: ($calculated-column-width * $columns);

    @return $calculated-gutter-with+$calculated-column-width;
}

/* UNITS */

@function get-unit($value) {
    @if($value != "initial") {
        @return str-slice($value * 0 + "", 2, -1);
    }

    @return "nothing";
}

@function parse-int($n) {
    @return $n / ($n * 0 + 1);
}

@function convert-to-rem($value-in-px, $base-font-size: $font-size-base) {
    @return #{($value-in-px / $base-font-size)}rem;
}

@function convert-to-px($value-in-rem, $base-font-size: $font-size-base) {
    $value: parse-int($value-in-rem) * $base-font-size; //15px is the base size specified
    @return round($value);
}
