@import './mixins.scss';
@import './grid.scss';
@import './functions.scss';
@import './variables.scss';
/**

  Main global styles file
    *Mixin already includes the functions and variables files

**/
body {
    margin: auto;
}
ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}
.inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.right-0 {
    right: 0
}
.left-0 {
    left:0
}
.flex-row-reverse {
    flex-direction: row-reverse;
}
.flex-row {
    flex-direction: row;
}
.btn {
    background: $color-main;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
    padding: 15px 25px;
    padding-top: 14px;
    border-radius: $b-radius-6;
    box-shadow: 0 0 10px #000;
    &:hover {
        background: $color-hover-blue;
    }
    &:active {
        color: $color-main;
        background: $color-hover-blue;
    }
    &:focus {
        background: $color-hover-blue;
        border: 2px solid $color-main outset;
    }
}
.link {
    text-decoration: none;
    color: $color-blue;
}