@import '_mixins.scss';

* {
    box-sizing: border-box;
    -moz-transform: $defaultTransition;
    -ms-transform: $defaultTransition;
    -o-transform: $defaultTransition;
    -webkit-transform: $defaultTransition;
    transform: $defaultTransition;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: $fontPrimary;
    font-size: $fontSize;
    color: $articleColor;
    line-height: 26px;
    background: #ffffff;
    min-height: 100vh;
    overflow-x: hidden;
}

/*h1, h2, h3, h4, h5, h6, p {
    color: $articleColor;
}*/

h1 {
    margin: 5px 0 15px;
    line-height: 100%;
    font-weight: 400 !important;
    font-size: 31px;
    position: relative;
    text-align: left;
}

h2 {
    margin-top: 0;
    margin: 5px 0 15px;
    line-height: 100%;
    font-weight: 400 !important;
    font-size: 26px;
    position: relative;
    text-align: left;
}

h3 {
    margin-top: 0;
}

a {
    text-decoration: none;
    word-break: break-word;
    cursor: pointer;
}

p {
    margin-top: 0;
    word-break: break-word;
}

.right {
    float: right;
}

table:not(.selections-table) {
    width: 100%;
    text-align: left;

    tbody {
        tr {
            @include flexbox;
            @include prefix(flex-direction, column);
            padding: 6px 0;

            th {
                padding: 3px 0;
                text-align: left;
                font-weight: normal;
            }

            td {
                width: 100%;
            }
        }
    }
}

@media (min-width: $mobileBreakpoint) {
    table:not(.selections-table) {
        tbody {
            tr {
                @include flexbox;
                @include prefix(flex-direction, row);
                @include prefix(align-items, center);

                th {
                    padding: 0 10px 0 0;

                    &:not(:first-child):not(only-child) {
                        padding-left: 16px;
                    }
                }

                td {
                    flex: 1;
                    padding: 0 0 0 10px;
                }
            }
        }
    }
}

.bodySection {
    @include flexbox;
    @include prefix(flex-direction, column);
    min-height: 100vh;

    .bodyHeader {
    }

    .bodyArticle {
        background: $articleBackground;
        color: $articleColor;
        @include flexbox;
        @include prefix(flex-direction, column);
        @include prefix(flex, 1);

        .bodyAside {
            //
        }

        .bodyContent {
            header.pageHeader {
                padding: $gutter;
                border-bottom: solid 1px $borderColor;
                background: $listDetailsBackground;
            }

            article.pageArticle {
            }
        }
    }
}


@media (min-width: $mobileBreakpoint) {
    .bodyArticle {
        @include flexbox;
        @include prefix(flex-direction, row, true);

        .bodyAside {
            width: $sidenavWidth;
            min-width: $sidenavWidth;
            max-width: $sidenavWidth;
        }

        .bodyContent {
            flex: 1;
            overflow-x: hidden;
        }
    }
}
