@import '_mixins.scss';

$inputHeight: 30px;
$inputBorder: 1px solid #aaa;
$inputPadding: 3px 4px;

input:not([type=radio]):not(.ti-new-tag-input),
select,
textarea {
    @include defaultFont();
    @include prefix(border-radius, 0);
    background: #fff;
    color: #000;
    padding: $inputPadding;
    font-size: $fontSize;
    height: $inputHeight;
    border: $inputBorder;
    width: 100%;

    &:focus {
        outline: 0 !important;
    }

    &[disabled],
    &[readonly] {
        background-color: #eee;
        opacity: .4;
    }
}

input[type=radio] {
    + label {
        margin-right: 15px;
    }
}

input[type=checkbox] {
    margin: 0;
    width: auto !important;
    vertical-align: middle;

    + label {
        vertical-align: middle;

        + label {
            vertical-align: middle;
        }
    }
}


.plusBtn {
    background: $primary;
    color: white;
    text-align: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 21px;
    display: block !important;
    margin: 0 auto;

    &.small {
        width: 30px;
        height: 30px;
        font-size: 11px;
    }

    &:before {
        @include verticalMiddle;
        display: block;
    }
}

.name-value {
    width: 100%;
    flex: 1;
    display: inline-flex;

    input:first-child {
        width: 33% !important;
    }

    input:nth-child(2) {
        flex: 1;
        width: auto !important;
        margin-left: 5px;
    }

    input:only-child {
        width: 100% !important;
    }
}

.name-value-collection {
    display: inline-flex;
    width: 100%;
    align-items: center;
    margin-bottom: 5px;

    .name-value {
        input:first-child {
            width: calc(33% + 7px) !important;
        }

        input:only-child {
            width: 100% !important;
        }
    }

    i.delete {
        margin-left: 10px;
        font-size: 125%;
    }
}

/* PLUGIN OVERRIDES */
.select2 {
    height: $inputHeight;

    .selection {
        height: inherit;

        .select2-selection {
            height: inherit;

            &:focus {
                outline: 0 !important;
            }

            &.select2-selection--single,
            &.select2-selection--multiple {
                @include prefix(border-radius, 0, true);
            }


            .select2-selection__rendered {
                @include verticalMiddle;
            }

            .select2-selection__arrow {
                height: inherit;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}




.vue-tags-input {
    min-height: $inputHeight;
    max-width: 100% !important;

    .ti-input {
        min-height: $inputHeight;
        border: $inputBorder !important;
        padding: 1px !important;

        .ti-tag {
            background-color: $primary;
        }
    }

    .ti-autocomplete {
        .ti-item {
            &.ti-selected-item {
                background-color: $primary !important;
            }
        }
    }
}



.vdatetime-popup__header {
    background: #262626 !important;
}

.vdatetime-time-picker__item--selected {
    color: $primary !important;
}

.vdatetime-calendar__month__day--selected > span > span,
.vdatetime-calendar__month__day--selected:hover > span > span {
    background: $primary !important;
}

.vdatetime-popup__actions__button {
    color: $primary !important;
}

.vdatetime-popup__actions__button--cancel {
    color: #444 !important
}

.vdatetime-popup__actions {
    padding: 10px !important;

    .vdatetime-popup__actions__button {
        padding: 0 !important;
    }
}

.tox {
    .tox-toolbar__primary {
        background-color: #F4F4F4 !important;
    }

    .tox-notifications-container {
        display: none !important;
    }
}

.mce-tinymce {
    iframe {
        padding: $inputPadding !important;
    }
}

/*.mce-content-body {
    margin: 0 !important;   

    p {
        margin: 0 !important;
    }
}
*/

.vue-treeselect__menu {
    border-radius: 0 !important;
    z-index: 999 !important;
    position: absolute;

    .vue-treeselect__option--selected {
        // note that these should override `.vue-treeselect__option--highlight`
        .vue-treeselect--single & {
            background: #FFF !important;
            color: #000 !important;

            &:hover {
                background: #FFF;
            }
        }
    }
}

.vue-treeselect {
    height: $inputHeight !important;

    &.large {
        height: 38px !important;
    }

    &.small {
        width: 200px;
    }

    &.extra-small {
        width: 150px !important;
    }

    &.super-extra-small {
        width: 102px !important;
    }

    &.error {
        border-left: solid 8px $errorColor;
    }

    .vue-treeselect__x-container {
        color: #888;
    }

    .vue-treeselect__control {
        padding-right: 0 !important;
        border-radius: 0 !important;
        border: $inputBorder;
        height: inherit !important;
        background: #FFF;
        color: #000;
        outline: none !important;

        &:hover {
            border-color: none !important;
        }

        .vue-treeselect__value-container {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            height: calc(#{$inputHeight} - 10px);
            background: inherit;
            color: inherit;
            padding-left: 5px;

            .vue-treeselect__single-value {
                top: calc(50% + 1px);
                transform: translateY(-50%) !important;
                line-height: 100%;
                min-height: 18px !important;
                background: inherit;
                color: inherit;
            }

            .vue-treeselect__multi-value {
                margin-bottom: 0 !important;
                background: inherit;
                color: inherit;
                height: calc(#{$inputHeight} - 9px);

                .vue-treeselect__multi-value-item-container {
                    padding-top: 0px !important;
                    background: inherit;
                    color: inherit;
                    height: calc(#{$inputHeight} - 10px);

                    .vue-treeselect__multi-value-item {
                        padding-top: 0;
                        padding-bottom: 0;
                        background: $primary;
                        color: #FFF !important;
                        font-size: 16px;
                        color: inherit;
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);

                        .vue-treeselect__multi-value-label {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            color: inherit;
                            font-size: 12px;
                            line-height: 16px;
                        }

                        .vue-treeselect__value-remove {
                            border: none;
                            color: inherit;
                        }
                    }
                }
            }
        }

        .vue-treeselect__input-container {
            padding-top: 0 !important;
            background: inherit;
            color: inherit;
            height: calc(#{$inputHeight} - 10px);
        }

        .vue-treeselect__input {
            height: 65% !important; // remove 2px for the border
            padding: 0px !important;
            margin: 0px !important;
            width: 100% !important;
            outline: none !important;
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            background: inherit;
            color: inherit;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        .vue-treeselect__control-arrow-container {
            /*@extend %searchInputPostIcon;*/
            height: calc(100% - 2px) !important; // remove 2px for the border
            .vue-treeselect__control-arrow {
                color: #888 !important;
            }
        }

        .vue-treeselect__placeholder {
            /*top: calc(50% + 1px);
            transform: translateY(-50%) !important;
            line-height: 100%;
            min-height: 18px !important;
            background: inherit;
            color: inherit !important;*/
            display: none;
        }

        input[type=text] {
            height: 65% !important;
            color: inherit;
            border: none;
        }
    }
}
