@import '_mixins.scss';
@import '_buttons.scss';

.list-details {
    padding: 0;

    h1 {
        display: inline;
        font-weight: 500 !important;
        color: $listTitleColor;
    }

    ul {
        font-size: 20px;
        display: inline-flex;
        padding: 0;
        margin: 0;
        float: right;
        color: $listIconsColor;

        li {
            list-style: none;

            &:not(:last-child) {
                margin-right: 10px;
            }

            a {
                color: inherit;
            }
        }
    }
}

.explorer {
    margin: $gutter;
    $gap: 15px;
    @include prefix(column-count, 1);
    @include prefix(column-gap, $gap);
    padding: 0 0 $gutter 0;
    text-align: left;

    .widget {
        margin-bottom: $gap;
        width: 100%;
        background: $explorerBackground;
        border-radius: 5px;
        padding: 10px 0 0;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid-column;
        display: table;

        h2 {
            padding: 0px 20px;
            color: $explorerTitleColor;

            a {
                color: inherit;
            }
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                padding: 7px 20px;

                &:not(:first-child) {
                    border-top: solid 1px $explorerBorderColor;
                }

                a {
                    color: $explorerColor;
                }
            }
        }
    }
}

.iconbar {
    background: $iconbarBackground;
    padding: 10px $gutter 5px;
    @include clear;

    &:first-child {
        border-bottom: solid 1px $borderColor;
    }

    ul {
        display: inline;
        padding: 0;
        margin: 0;

        li {
            list-style: none;
            padding: 0;
            margin: 0 0 5px 0;
            display: inline-block;

            &:not(:last-child) {
                margin-right: 5px;
            }

            
        }
    }
}

// CONFIRM DIALOG
.dg-container {
    .dg-main-content {
        @include prefix(border-radius, $borderRadius);

        .dg-content-body {
            border-bottom: none;
        }

        .dg-content-footer {
            .dg-btn {
                &.dg-btn--cancel {
                    @extend %button-white;
                }

                &.dg-btn--ok {
                    @extend %button-primary;
                }
            }
        }
    }
}

@media (min-width: $mobileBreakpoint) {
    .explorer {
        @include prefix(column-count, 2);
    }

    .iconbar {
    }
}

@media (min-width: $tabletBreakpoint) {
    .explorer {
        @include prefix(column-count, 3);
    }
}
