@import "./mixins";
@import "./grid";
@import "./functions";
@import "./variables";
/**

  Main global styles file
    *Mixin already includes the functions and variables files

**/
$input-height: 50px;
$input-border: 1px solid #aaa;
$input-padding: 3px 4px;

body {
    margin: auto;
}
ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}
.inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.right-0 {
    right: 0;
}
.left-0 {
    left: 0;
}
.flex-row-reverse {
    flex-direction: row-reverse;
}
.flex-row {
    flex-direction: row;
}
.btn {
    background: #fff;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #000;
    padding: 15px 25px;
    padding-top: 14px;
    border-radius: $b-radius-6;
    box-shadow: $box-shadow-1;
    font-family: $font-primary;

    &:hover {
        background: $color-hover-blue;
    }
    &:active {
        color: $color-main;
        background: $color-hover-blue;
    }
    &:focus {
        background: $color-hover-blue;
        border: 2px solid $color-main outset;
    }
}
.btn-primary {
    background: $color-main;
    color: #fff;
    &:hover {
      background: $color-hover-blue;
    }
  }
.btn-secundary {
    background: $color-hover-blue;
    color: #fff;
    box-shadow: none;
}

input:not([type=radio]):not([class=vs__search]),
select,
textarea {
    font-family: $font-primary;
    box-sizing: border-box;
    border-radius: 0;
    background: #fff;
    color: #000;
    font-size: $font-size-s;
    height: $input-height;
    border: $input-border;
    border-radius: 6px;

    &:focus {
        outline: 0;
    }

    &[disabled],
    &[readonly] {
        background-color: #eee;
        opacity: .4;
    }
}

input[type=radio] {
    + label {
        margin-right: 15px;
    }
}

input[type=checkbox] {
    margin: 0;
    vertical-align: middle;

    + label {
        vertical-align: middle;

        + label {
            vertical-align: middle;
        }
    }
}

.link {
    text-decoration: none;
    color: $color-blue;
}
