################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/bin
**/obj
**/node_modules
**/.vs
**/.user
**/*.csproj.user
**/packages
**/*.js.map
# VUE APPS
pilot-app/dist
*.user
.vscode/launch.json
