.btn {
  background: #fff;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #000;
  padding: 15px 25px;
  padding-top: 14px;
  border-radius: $b-radius-6;
  box-shadow: $box-shadow-1;
  font-family: $font-primary;

  &:hover {
      background: $color-hover-blue;
  }
  &:active {
      color: $color-main;
      background: $color-hover-blue;
  }
  &:focus {
      background: $color-hover-blue;
      border: 2px solid $color-main outset;
  }
}
.btn-primary, .action {
  background: $color-main;
  color: #fff;
  &:hover {
    background: $color-hover-blue;
  }
}
.btn-secundary {
  background: $color-hover-blue;
  color: #fff;
  box-shadow: none;
}
.action {
  float: right;
}