@import '_mixins.scss';


.login {
    padding: 30px 40px;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
    -webkit-appearance: none;
    height: 100%;

    input {
        color: #000 !important;
        background: #f9f9f9 !important;
        transition: border 1s;
        font-size: 120% !important;
        height: 39px !important;
        margin-bottom: 10px;
        padding: 0 10px !important;
        border-top-width: 0 !important;
        border-left-width: 0 !important;
        border-right-width: 0 !important;
    }

    .notifications {
        margin-bottom: 15px;
    }
}


@media (min-width: $mobileBreakpoint) {
    .login {
        width: 490px;
        height: auto;
        @include prefix(box-shadow, $boxShadow);
        margin-top: 120px;
        @include clear;
    }
}



/*.login div {
    margin-bottom: 20px;
}


.login p {
    font-size: 110%;
}

.login table tfoot tr td {
    padding-bottom: 4px;
}

.login table tr td {
    padding-bottom: 4px;
}

.login table tfoot tr td {
    padding-top: 20px;
}

.login input.error {
    border-left: solid 10px #e74c3c;
}

.login table tr td.forgotPassword {
    padding-left: 10px;
    vertical-align: middle;
}

.login table tr:last-child td {
    padding-bottom: 0px;
}

.login table tr td:first-child {
    width: 85px;
    vertical-align: middle;
}

.login table tr td span {
}

.login table tr td span a {
    padding-bottom: 20px;
    color: #0a75bd;
    font-size: 13px;
}

.login table tr td span a:hover {
    text-decoration: underline;
}

.login label {
    color: #A5A5A5;
    font-size: 14px;
    width: 100px;
}

.login input {
    color: #a2abb3;
    font-family: 'latoBoldItalic';
    font-size: 22px;
    height: 54px !important;
    border: none;
}

.login input.long {
    padding-left: 10px;
    width: 100%;
}

.login input.checkbox {
    height: auto !important;
    margin-right: 10px;
    top: 1px;
}

.login input#submitBTN {
    border: none;
    color: #ffffff;
    height: 33px !important;
    margin-right: 0px;
    display: block;
    margin: 0px;
    font-family: 'latoBold';
    font-size: 100%;
    float: right;
    clear: left;
}

.login span {
    float: left;
    margin-top: 9px;
    margin-left: 10px;
}

.login tfoot a {
    white-space: nowrap;
}

.login span a {
    text-decoration: underline;
}

.login div.error {
    background: #e74c3c;
    color: #ffffff;
    font-family: 'latoRegular';
    padding: 16px 20px;
    font-size: 130%;
}*/
